body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(login-bg.jpg);
}

.box{
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(4, 47, 102, 80%);
    text-align: center;
    border-radius: 20px;
}

.box h1{
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
}

.box input[type = "text"], .box input[type = "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid ;
    width: 250px;
    padding: 14px 15px;
    outline: none;
    color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus{
    width: 300px;
    border-color: #0eeb12;
}

.box input[type = "submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0eeb12;
    padding: 14px 30px;
    outline: none;
    color: white;
    border-radius: 50px;
    transition: 0.5s;
}

.box input[type = "submit"]:hover{
    background: #0eeb12;
}
